* {
    background-color: whitesmoke;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
}

p {
    background-color: white;
}

h2, h3 {
    letter-spacing: 1px;
    color: #cccccc;
    background-color: white;
    text-transform: uppercase;
}
.topnav {
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 10px;
    overflow: hidden;
  }

.topnav a {
    text-transform: uppercase;
    float: right;
    color: #cccccc;
    text-align: center;
    padding: 20px 12px;
    text-decoration: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.home {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#img1 {
    position: relative;
    z-index: 1;
}

.slogan {
    position: absolute;
    background: transparent;
    z-index:2;
    font-size: 300%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.firstbox {
    margin: 20px;
    width: 1275px;
    height: auto;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    padding: 20px;
    background-color: white;
    text-align: center;
}

.services {
    background-color: white;
    margin: 0px 250px;
}

.services:after {
    content: "";
    display: table;
    clear: both;
}

.inline {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: white;
}

.carrousel1, .carrousel2, .carrousel3 {
    margin: 20px 72px;
    height: auto;
    width: 1275px;
    margin-left: auto;
    margin-right: auto;
}

.photoinline1, .photoinline2, .photoinline3{
    float: left;
    width: 33.33%;
}

.secondbox {
    margin: 20px;
    width: 1275px;
    height: auto;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title2 {
    padding: 20px;
    background-color: white;
    text-align: center;
}

.news {
    background-color: white;
}

.news:after {
    content: "";
    display: table;
    clear: both;
}

.inline2 {
    float: left;
    width: 50%;
    padding: 0px 100px;
    background-color: white;
}

.thirdbox {
    margin: 20px;
    width: 1275px;
    height: auto;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title3 {
    padding: 20px;
    background-color: white;
    text-align: center;
}

.skills {
    background-color: white;
}

.skills:after {
    content: "";
    display: table;
    clear: both;
}

.inblock {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: white;
}

.w3-grey1 {
    height: 12px;
    width: 80%;
}

.w3-grey2 {
    height: 12px;
    width: 20%;
}

.w3-grey3 {
    height: 12px;
    width: 50%;
}

.w3-grey4 {
    height: 12px;
    width: 30%;
}


